body{
  font-family: sans-serif;
}

h1{
  text-align: center;
  font-size: 50px;
}

top_img{
  align-self: center;
  width:50%
}

mid-img{
  width: auto;
  float:left
}

/* navigation */
nav ul{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: black;
  border-width: 2px;
  border-color: white;
  margin-bottom: 50px;
}
nav li{
  float:left;
  border-width: 2px;
  border-color: white;
}
nav a{
  display:inline-block;
  text-decoration: none;
  color:white;
  padding: 14px 16px;
  text-align: center;
}
nav a:hover{
  background-color: grey;
}
.active{
  background-color: red;
}
