body{
  font-family: sans-serif;
  background-color: darkblue;
  /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8pSUUBvJ79ivtcCHcxTXmLQg63cMNn2RQig&usqp=CAU); */
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  color: orange
}


h1{
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
}

#top_img{
  align-self: center;
  width:50%
}

#mid-img{
  width: auto;
  float:left
}

p{
  font-size: 110%;
}

.speler a{
  color:darkorange;
}

/* navigation */
nav ul{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: black;
  border-width: 2px;
  border-color: white;
  margin-bottom: 50px;
}
nav li{
  float:left;
  border-width: 2px;
  border-color: white;
}
nav a{
  display:inline-block;
  text-decoration: none;
  color:white;
  padding: 14px 16px;
  text-align: center;
}
nav a:hover{
  background-color: grey;
}
.active{
  background-color: red;
}
