.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:rgb(50, 50, 50)
}
.nav li{
    float:left
}
.nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
